**/.venv/
**/install/
**/build/
**/dist/
**/log/
**/__pycache__/
**/vscode/
**/.vscode/
**/.env
**/model.pth
**/data
**/droid_full/
**/droid_sample/
**/ego4d_raw/
**/Ego4d/
**/egoexo4d_raw/
**/checkpoints/
**/droid_wds/
**/recordings/